.dayBlock {
    display: block;
    width: 100%;
    background: #FBFBFB;
}

.newsdetails {
    display: flex;
    flex-direction: row;
    grid-column-gap: 32px;
}

/*NAV PART OF THE PAGE*/

.details__navpart {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.details__navpart-item {
    margin-top: 36px;
    cursor: pointer;
}

.h1h50 {
    margin-top: 11px;
    width: 251px;
    height: 50px;
    font-size: 18px;
    line-height: 21.6px;
    color: #000;
}

.h1h29 {
    margin-top: 7px;
    width: 251px;
    height: 29px;
    font-size: 18px;
    line-height: 21.6px;
    color: #000;
}

.details__navpart-item img {
    width: 100%;
}

.details__navpart-item:hover .overlay {
    opacity: .77;
}

.details__navpart-item:hover .overlay2 {
    opacity: .77;
}

.details__navpart-item:hover .overlay3 {
    opacity: .77;
}

.overlay {
    position: absolute;
    top: 274px;
    width: 251px;
    height: 146px;
    opacity: 0;
    transition: .5s ease;
    background:var(--color-blueRgba);
    border: 1px solid var(--color-blue025);
}

.overlay2 {
    position: absolute;
    top: 550px;
    width: 251px;
    height: 146px;
    opacity: 0;
    transition: .5s ease;
    background:var(--color-blueRgba);
    border: 1px solid var(--color-blue025);
}

.overlay3 {
    position: absolute;
    top: 803px;
    width: 251px;
    height: 146px;
    opacity: 0;
    transition: .5s ease;
    background:var(--color-blueRgba);
    border: 1px solid var(--color-blue025);
}

.details__navpart-item a {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 4px 21px 6px 21px;
    position: relative;
    top: 58px;
    left: 77px;
}

.details__navpart-item a:hover {
    background:var(--color-blueRgba);
    color: #fbfbfb;
}

.details__navpart-item h1:hover {
    color: var(--color-blue005);
}

.details__navpart-item p {
    width: 251px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: var(--color-gray37);
}

.detailsnav__button {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 4px 21px 6px 21px;
    position: relative;
    top: 58px;
    left: 77px;
}


.buttonNav-item:hover {
    color: #fff;
    background-color: #000;
    transition-delay: .05s ;
    transition-duration: .1s;
}


/*INFO*/

.details__infopart {
    display: block;
    width: 937px;
    display: flex;
    flex-direction: column;
}

.details__infopart-item p {
    width: 934px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
}

.details_imgsett1 {
    margin: 13px 0 36px 0;
}

.details_imgsett2 {
    margin: 49px 0;
}

.details_imgsett3 {
    margin-top: 49px;
}

/*HEADER INFO PART*/

.header__infopart {
    display: flex;
    margin: 56px 0 0 0;
    height: 78px;
}

.header__infopart h1 {
    font-size: 25px;
    line-height: 33.5px;
    width: 722px;
    color:var(--color-black1a);
    margin-bottom: 13px;
}

.header__infopart span {
    margin-left: 119px;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 13px;
    line-height: 17.42px;
}

/*Nav bottom adaptation*/

#overlay {
    position: absolute;
    width: 251px;
    height: 146px;
    opacity: 0;
    transition: .5s ease;
    background:var(--color-blueRgba);
    border: 1px solid var(--color-blue025);
}

.navButton {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 4px 21px 6px 21px;
    position: relative;
    top: 58px;
    left: 77px;
}

.NavBottom-item:hover #overlay {
    opacity: .77;
}

.buttonNav-item {
    width: 127px;
    margin-top: 27px;
    padding: 5px 0 7px 27px;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #000;
}

.dayBlock__detailsNav {
    display: flex;
    flex-direction: column;
    height: 624px;
    width: 623px;
    align-items: center;
    margin-bottom: 99px;
    display: none;
}

.NavBottom-title {
    text-align: center;
    font-size: 18px;
    line-height: 27.99px;
    color: #000;
    font-weight: 600;
    margin-top: 63px;
}

.NavBottom {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
}

.NavBottom-item {
    width: 251px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.NavBottom-item h1 {
    line-height: 31.1px;
    font-size: 20px;
    color: #000;
}

.NavBottom-item p {
    font-weight: 400;
    line-height: 18.66px;
    font-size: 12px;
    color: #000;
}

.navButton:hover {
    background:var(--color-blueRgba);
    color: #fbfbfb;
}

.NavBottom-item:hover h1 {
    color: var(--color-blue005);
}

.NavBottom-item:hover p {
    color: var(--color-blue005);
}


@media screen and (max-width: 1024px) {
    .wrap {width: 1024px; }
    .newsdetails {gap: 44px;}
    .details_imgsett1 {width: 623px; height: 269px;}
    .details_imgsett2 {width: 623px;}
    .details_imgsett3 {width: 623px;}
    .header__infopart h1 {font-size: 20px;}
    .details__infopart-item p {width: 616px;}
    .details_imgsett3 {margin: 40px 0 0px 0;}
    .header__infopart span {margin: 50px 0 0 -170px;}
}

@media screen and (max-width: 768px) { 
    .wrap {width: 768px; }
    .newsdetails {flex-direction: column; margin-left: 64px; gap: 0px;}
    .details__navpart{display: none;}
    .dayBlock__detailsNav {display: flex;}
}
