h1,h2,h3{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.container {
    width: 1220px;
    margin: 0 auto; 
}

.main__block {
    background: url("/assets/images/img/PageMain/Page1_main__img.svg") no-repeat;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.main__block-img_overlay {
    background: linear-gradient(180deg,#093864 0%, #005F91 100%);

    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#093864 0%, var(--color-blue005) 100%);
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.main__block-content {
    z-index: 2;
    width: 1220px;
    height: 330px;
}

.main__block-subtitle {
    color: #FFFFFF;

    padding-left: 10px;
    
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.main__block-title {
    color: #FFFFFF;

    margin-bottom: 30px;

    font-weight: 900;
    font-size: 178px;
    line-height: 239px;
}

.main__block-btn {
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;

    padding: 17px 40px;
    margin-left: 10px;

    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    transition: background 0.5s linear;
    transition-duration: 0.5s;
}

.main__block-btn:hover {
    color: #093864;
    background: #FFFFFF;
    border: none;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.news__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__title {
    color: var(--color-blue005);
    color: #005F91;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
}
.news__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0px; 
    row-gap: 54px;
    column-gap: 63px;
}

.news__block-item {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #0000000f;

    display: flex;
    width: 577px;
}

.news__block-img {
    width: 264px;
    height: 318px;
}


.news__block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__block-text {
    height: 318px;
    width: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 37px 14px 55px;
}
.news__block-subtitle {
    color: #000000;
    
    padding-bottom: 31px;

    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
}

.news__block-description {
    color: #757575;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.news__block-btn {
    color: #000000;
    border: 1px solid #B8B5B5;

    padding: 7px 35px;
    width: fit-content;
    margin: 17px 0px;

    font-weight: 400;
    font-size: 13px;
    line-height: 150.5%;

    transition: background 0.5s linear;
    transition-duration: 0.5s;
}

.news__block-btn:hover {
    background: var(--color-blue005);
    border: 1px solid var(--color-blue005);
    background: #005F91;
    color: #FFFFFF;
    border: 1px solid #005F91;
}

.news__block-date {
    color: #898888;

    display: flex;
    justify-content: end;

    font-weight: 300;
    font-size: 13px;
    line-height: 150.5%;
}

.news__btn {
    background: var(--color-blue005); 
    color: #FFFFFF;
    border: 1px solid transparent;

    padding: 15px 83px;
    margin: 0px auto;
    margin-bottom: 1px;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    transition: background 0.5s linear;
    transition-duration: 0.5s;
}

.news__btn:hover{
    background: #FFFFFF;
    color: #005F91;
    box-sizing: inherit;
    border: 1px solid var(--color-blue005);
    border: 1px solid #005F91;

    box-sizing: inherit;
}



@media screen and (max-width: 1024px){
    .container {
        width: 943px;
    }

    .main__block-subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
    }
    .main__block-title {
        font-weight: 700;
        font-size: 163px;
        line-height: 218px;
    }
    
    .news {
        padding: 36px 0px 73px;
    }
    
    .news__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
    }
    .news__block {
        margin: 42px 0px 73px; 
        gap: 20px;
        width: 943px;
    }
    
    .news__block-item {
        width: 461px;
        height: 235px;
    }
    
    .news__block-img {
        width: 188px;
        height: 235px;
    }
    
    .news__block-text {
        justify-content: center;
        height: 235px;
        padding: 20px 21px 24px 41px;
    }

    .news__block-subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 14px;
    }
    
    .news__block-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }

    .news__block-btn {
        padding: 4px 25px;
        width: fit-content;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0px 0px;
    }
    
    .news__block-date {
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
    }
}

@media screen and (max-width: 768px){
    .container {
        width: 678px;
    }

    .main__block-content {
        margin-left: 96px;
    }

    .main__block-subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }
    .main__block-title {
        font-weight: 900;
        font-size: 144px;
        line-height: 192px;
    }
    
    .news {
        padding: 64px 0px 73px;
    }
    
    .news__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 42px;
    }
    .news__block {
        margin: 75px 0px 78px; 
        gap: 50px;
        width: 678px;
    }
    
    .news__block-item {
        width: 678px;
        height: 373px;
    }
    
    .news__block-img {
        width: 311px;
        height: 373px;
    }
    
    .news__block-text {
        height: 317px;
        padding: 28px 46px 28px 60px;
    }

    .news__block-subtitle {
        font-weight: 900;
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 37px;
    }
    
    .news__block-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .news__block-btn {
        font-size: 13px;
        line-height: 19px;
        margin: 37px 0px 36px;
    }
}