.main__fourthPage {
    width: 100vw;
    margin-top: 56px;
}
.main__fourthPage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
}
.main__fourthPage-header {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #1A1A1A;
}
.main__fourthPage-searchBlock {
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.main__fourthPage-searchField {
    border: 1px solid #A4A4A4;
    padding: 14px 264px 14px 22px;
}
.main__fourthPage-searchBlock img {
    height: 15px;
    width: 15px;
    position: relative;
    left: -32px;
    top: 2px;
}
.main__fourthPage-block {
    display: flex;
    margin-top: 34px;
    gap: 22px;
}
.main__fourthPage-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main__fourthPage-blockItem {
    width: 392px;
    height: 147px;
    background: #FFFFFF;
    box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border: none;
}
.main__fourthPage-blockItem:hover path {
    fill: var(--color-blue005);
    transition-duration: .1s;
    transition-delay: .05s;
}
.main__fourthPage-blockItem:hover {
    transform: scale(1.11);
    transition-duration: .1s;
    transition-delay: .05s;
    cursor: pointer;
}
.main__fourthPage-blockItem svg {
    margin-left: 44px;
}
.main__fourthPage-content {
    position: absolute;
}
.main__fourthPage-title {
    text-align: left;
    font-weight: 900;
    font-size: 18px;
    line-height: 145%;
    color: var(--color-blue005);
    position: relative;
    left: 146px;
}
.main__fourthPage-description {
    display: inline-block;
    width: 200px;
    position: relative;
    left: 146px;
}
.main__fourthPage-blockItem svg.specialImg1 {
    position: relative;
    left: -11px;
}
.main__fourthPage-blockItem svg.specialImg2 {
    position: relative;
    left: 13px;
}
.main__fourthPage-blockItem svg.specialImg3 {
    position: relative;
    left: -8px;
}
.main__fourthPage-blockItem svg.specialImg4 {
    position: relative;
    left: 4px;
}

@media screen and (max-width: 1024px) {
    .main__fourthPage-blockItem {
        width: 295px;
    }
    .wrap {
        width: 925px;
    }
    .main__fourthPage-block {
        position: relative;
        right: 25px;
    }
    .main__fourthPage-description {
        font-size: 14px;
        line-height: 145%;
        width: 180px;
        left: 110px;
    }
    .main__fourthPage-blockItem svg {
        margin-left: 21px;
    }
    .main__fourthPage-title {
        left: 110px;
        font-size: 16px;
        line-height: 145%;
    }
    .main__fourthPage-column {
        gap: 21px;
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 678px;
    }
    .main__fourthPage-blockItem {
        width: 225px;
    }
    .main__fourthPage-block {
        position: relative;
        right: -10px;
    }
    .main__fourthPage-description {
        font-size: 12px;
        line-height: 125%;
        width: 130px;
        left: 95px;
    }
    .main__fourthPage-blockItem svg {
        margin-left: 15px;
    }
    .main__fourthPage-title {
        left: 95px;
        font-size: 13px;
        line-height: 125%;
    }
    .main__fourthPage-column {
        gap: 15px;
    }
    .main__fourthPage-header {
        position: relative;
        right: 50px;
    }
    .main__fourthPage-searchBlock {
        position: relative;
        right: 40px;
    }
}