.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 76px 0px 107px;
}

.calculator__title {
    color: #1A1A1A;
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 43px;
}

.calculator__EIA {
    display: flex;
    align-items: center;
    background: #035F8E;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    margin-bottom: 68px;
}

.calculator__EIA-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
}

.calculator__EIA-subtitle {
    align-self: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 7px;
}

.calculator__EIA-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
}

.calculator__specialties {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculator__specialties-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    width: 504px;
}

.specialties__body-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 244px;
    padding: 26px 14px;
    gap: 15px;
    background: #FBFBFB;
    border: 1px solid #A4A4A4;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

.specialties__body-item:hover {
    background: #035F8E;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}

.specialties__body-item path{
    fill: #000000;
    margin: 26px 16px;
}

.specialties__body-item svg {
    width: 40px;
    height: 40px;
    margin: 0px 16px;
}

.specialties__body-item:hover path {
    fill: #FFFFFF;
}

.specialties__body-item p {
    width: fit-content;
    color: #292929;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.specialties__body-item:hover p {
    color: #FFFFFF;
}

.specialties__body-item input[type="radio"] {
    appearance: none;
    background: #D7D7D7;
    width: 13px;
    height: 13px;
    border: 3px solid transparent;
    border-radius: 50%;
}

.specialties__body-item:hover input[type="radio"] {
    appearance: none;
    background: transparent;
    border: 3px solid #FFFFFF;
}

.calculator__specialties-found_in {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
}

.specialties__found_in-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 650px;
    height: 422px;
}

.specialties__found_in-body::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #093864;
    border-radius: 10px;
}

.specialties__found_in-count {
    margin: 30px 0px;
    padding-left: 40px;
    align-items: center;
}

.specialties__found_in-count label {
    color: #2D2C2C;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.specialties__found_in-count input {
    margin-left: 4px;
    width: 10px;
    border: none;
    height: fit-content;

    color: #2D2C2C;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.specialties__found_in-item {
    display: grid;
    grid: 1fr / 1fr 4fr 1fr;
    padding: 17px 40px;
    justify-content: center;
    border: 1px solid #E9E9E9;
    align-items: center;
    transition: background 0.5s ease-in-out;
}

.specialties__found_in-item:hover {
    background: #035F8E;
    cursor: pointer;
}

.specialties__found_in-item:hover .specialties__found_in-number {
    color: #FFFFFF;
}

.specialties__found_in-item:hover .specialties__found_in-name {
    color: #FFFFFF;
}

.specialties__found_in-item:hover .specialties__found_in-btn a{
    color: #FFFFFF;
}

.specialties__found_in-number {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    cursor: auto;

    color: #000000;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
}

.specialties__found_in-numbe:focus {
    outline: none;
    border: none;
}

.specialties__found_in-name {
    display: flex;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    cursor: auto;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.specialties__found_in-name:focus {
    outline: none;
    border: none;
}

.specialties__found_in-btn {
    display: flex;
    align-items: center;
    height: fit-content;
}

.specialties__found_in-btn a {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    height: fit-content;
}
