.footer {
    width: 100%;
    align-items: center;
    background: #fff;
    justify-content: center;
}
.footer__top {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__wrap {
    width: 795px;
    margin: 0 auto;
    padding: 23px;
}
.footer__top-container,
.footer__bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__bottom-container {
    border-top:1px solid var(--color-lightGray);
    justify-content: space-around;
    margin-bottom: 54px;
}
.footer__top-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer__top-menu-item {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-gray);
    text-decoration: none;
}
.footer__top-menu-item:hover {
    color: var(--color-blue);
}

.footer__bottom {
    display: flex;
    width: 100%;
}
.footer__Block-info {
    margin-left: 32px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 5px;  
}
.contactsBlock a {
    color: var(--color-gray);
}
.contactsBlock a:hover {
    color: var(--color-blue);
}
.footer__logo {
    display: flex;
    width: 136px;
    height: 54px;
}
.footer__siteMap {
    margin-top: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-blue);
    width: 65px;
}
.footer__siteMap:hover {
    color: var(--color-blue);
    text-decoration: underline;
    transition-duration: .1s;
    transition-delay: .05s;
}
.copi {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
}
.footer__Block-title,
.footer__Block-title2 {
    display: flex;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-gray);
    margin-bottom: 36px;
}
.footer__Block-title2 {
    display: none;
}
.footer__adress {
    display: flex;
    width: 178px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
}
.footer__btn {
    border: 1px solid var(--color-gray);
    width: 199px;
    padding: 14px 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-gray);
    cursor: pointer;
}
.footer__btn:hover {
    background-color: #000;
    color: #fff;
    transition-duration: .1s;
    transition-delay: .05s;
}
.block1 {
    position: relative;
    top: -13px;
}
.footer__block-social {
    display: flex;
    gap: 20px;
}
.social__item i {
    font-size: 24px;
    color: var(--color-lightGray);
}
.instagram i:hover {
    color: var(--color-lightGray);
}
.facebook i:hover {
    color: var(--color-lightGray);
}
.youtube i:hover {
    color: red;
}

.footer form {
    display: flex;
    align-items: center;
    display: none;
}

.footer__email2 {
    border: 1px solid var(--color-lightGray);
    border-radius: 28px;
    padding: 8px 20px 8px 17px;
}
.footer__btn2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    background: var(--color-blue);
    border: transparent;
    border-radius: 60px;
    color: #fff;
    position: relative;
    right: 28px;
    transform: rotate(-180deg)
}

/* Adaptated footer */

.footer768 {
    display: none;
}
.footer768-wrap {
    width: 627px;
    margin: 70px;
}
.footer768-container {
    display: flex;
}
.footer768-column {
    display: flex;
    flex-direction: column;
}
.footer768-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 313px;
    height: 290px;
    background-color: #fff;
}
.footer768-column:first-child {
    border-right: 1px solid var(--color-lightGray);
}   
.footer768-block:last-child {
    margin-bottom: 40px;
    border-top: 1px solid var(--color-lightGray);
}

.foundOnMap {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-blue);
}
.foundOnMap:hover {
    color: var(--color-blue);
    text-decoration: underline;
    transition-duration: .1s;
    transition-delay: .05s;
}


@media screen and (max-width: 1024px) {
    .wrap {
        width: 894px;
    }
    .footer__wrap {
        width: 720px;
    }
    .footer__top-menu-item:nth-child(1) {
        position: relative;
        right: -60px;
    }
    .footer__top-menu-item:nth-child(2) {
        position: relative;
        right: -44px;
    }
    .footer__top-menu-item:nth-child(3) {
        position: relative;
        right: -37px;
    }
    .footer__top-menu-item:nth-child(4) {
        position: relative;
        right: -24px;
    }
    .footer__top-menu-item:nth-child(6) {
        position: relative;
        right: 25px;
    }
    .footer__bottom-container {
        margin-bottom: 10px;
    }
    .footer__Block-info {
        position: relative;
        bottom: 26px;
    }
    .footer__Block-title {
        position: relative;
        top: 23px;
    } 
    .footer__Block-info:nth-child(5) {
        position: relative;
        left: -25px;
    }
    .footer__top-menu-item {
        font-size: 13px;
        line-height: 17px;
    }
    .footer__siteMap {
        font-size: 13px;
        line-height: 17px;
        display: inline-block;
        width: 70px;
    }
    .footer__phoneNumber {
        display: inline-block;
        width: 137px;
    }
    .social__item i {
        font-size: 21px;
    }
    .footer__btn {
        display: none;
    }
    .footer form {
        display: flex;
    }
    .footer__specialTitle {
        display: none;
    }
    .footer__Block-title2 {
        display: inline-block;
        position: relative;
        top: 23px;
    }
    .copi {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 768px) {
    .footer768 {
        display: flex;
    }
    .footer__top,.footer__bottom {
        display: none;
    }
    .footer__logo {
        margin-top: 40px;
        margin-right: 40px;
    }
    .footer__siteMap {
        width: 76px;
        display: inline-block;
        margin-top: 52px;
        margin-right: 40px;
        font-size: 14px;
        line-height: 19px;
    }
    .copi {
        margin-right: 40px;
        margin-top: 6px;
    }
    .footer__Block-title {
        margin-top: 30px;
        margin-right: 40px;
    }
    .questions {
        width: 125px;
        display: inline-block;
        text-align: center;
        margin-top: 33px;
        margin-right: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: var(--color-gray);
    }
    .footer__phoneNumber {
        font-size: 13px;
        line-height: 17px;
        margin-top: 35px;
        margin-right: 15px;
    }
    .footer__email {
        font-size: 13px;
        line-height: 17px;
        margin-right: 40px;
    }
    .locationTitle {
        margin-left: 100px;
        position: relative;
        top: 10px;
    }
    .footer__adress {
        display: inline-block;
        width: 200px;
        margin-left: 60px;
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        line-height: 21px;
    }
    .foundOnMap {
        margin-top: 30px;
        margin-left: 50px;
    }
    .socialTitle {
        margin-left: 90px;
    }
    .footer__block-social {
        display: flex;
        gap: 31px;
        margin-left: 70px;
        margin-top: 30px;
    }
    .social__item i {
        font-size: 33px;
    }
    .footer__Block-title2 {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: var(--color-gray);
        text-align: center;
    }
    .footer__email2 {
        padding: 25px 240px 25px 42px;
        margin-left: 70px;
    }
    .footer__btn2 {
        width: 52px;
        height: 52px;
        font-size: 45px;
        position: relative;
        right: 60px;
    }
}

@media screen and (max-width: 414px) {
    .footer768 {
        width: 414px;
    }
    .footer768-wrap {
        width: 353px;
        margin: 35px;
    }
    .footer768-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 175px;
        height: 150px;
        background-color: #fff;
    }
    .footer__logo {
        margin-top: 5px;
        margin-right: 10px;
    }
    .footer__siteMap {
        width: 76px;
        display: inline-block;
        margin-top: 24px;
        margin-right: 10px;
        font-size: 12px;
        line-height: 16px;
    }
    .copi {
        margin-right: 10px;
        margin-top: 6px;
        font-size: 12px;
        line-height: 16px;
    }
    .footer__Block-title {
        margin-top: 5px;
        margin-right: 20px; 
        text-align: center;
        font-size: 13px;
        line-height: 17px;
    }
    .questions {
        width: 125px;
        display: inline-block;
        text-align: center;
        margin-top: 14px;
        margin-right: 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: var(--color-gray);
    }
    .footer__phoneNumber {
        font-size: 13px;
        line-height: 17px;
        margin-top: 14px;
        position: relative;
        left: 10px;
    }
    .footer__email {
        font-size: 13px;
        line-height: 17px;
        margin-right: 10px;
    }
    .locationTitle {
        margin-left: 40px;
    }
    .footer__adress {
        display: inline-block;
        width: 200px;
        margin-left: 35px;
        margin-top: 0px;
        position: relative;
        top: -15px;
        text-align: center;
        font-size: 13px;
        line-height: 17px;
    }
    .foundOnMap {
        margin-top: 0px;
        margin-left: 20px;
    }
    .socialTitle {
        margin-left: 40px;
    }
    .footer__block-social {
        display: flex;
        gap: 20px;
        margin-left: 30px;
        margin-top: 15px;
    }
    .social__item i {
        font-size: 22px;
    }
    .footer__Block-title2 {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: var(--color-gray);
        text-align: center;
    }
    .footer__email2 {
        padding: 22px 150px 25px 33px;
        margin-left: 0px;
    }
    .footer__btn2 {
        padding: 0px 20px 47px 20px;
        background-position: 10px;
        width: 10px;
        height: 10px;
        position: relative;
        right: 45px;
    }
}