header {
    display: block;
    width: 100%;
    height: 166px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.header__container-top {
    height: 111px;
    display: block;
    display: flex;
    justify-content:space-between;
    padding: 26px 0;
    border-bottom: 1px solid var(--color-grayD2);
}

.search__box {
    position: relative;
    left: 70px;
    top: 10px;
}

.headertop__input {
    border: 1px solid #c7c7c7;
    padding: 15px 221px 16px 23px;
    width: 378px;
    height: 46px;
}

.search__box a {
    position: absolute;
    top: 14px;
    right: 17px;
}

.header__social {
    display: flex;
    margin: 18px -20px 41px 318px;
}

.header__social-item {
    font-size: 20px;
    color: #ccc;
    padding-right: 17px;
    opacity: 1;
}

.header__social-item:hover { 
    color: var(--color-blue005);
}

.header__social-item:nth-child(3):hover {
    color: red;
}

.header__lang-p {
    display: block;
    width: 50px;
    color: #093864;
    font-size: 15px;
    font-weight: 400;
}

.chooselang__menu .header__lang-p:hover {
    background: #093864;
    color: #fff;
}

.header__lang:hover .chooselang__menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: block;
}

.header__lang {
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px -20px 0 0;
}

.chooselang__menu {
    cursor: pointer;
    display: none;
}

.headertop__btn {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    background: var(--color-blue005);
    padding: 18.48px 53.66px 16.48px 53.66px;
    margin-right: -40px;
}


.headertop__btn:hover {
    color: var(--color-blue005);
    background: #ccc;
    transition-duration: .1s ;
    transition-delay: .05s;
}



/* Headerbottom menu */

.header__container__bottom {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: space-between;
}

.header__bottom__menu-item {
    display: flex;
    align-items: center;
}

.menu-item__text {
    color: var(--color-gray37);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.76px;
}

.menu-item__text:hover {
    color: #093864;
    font-weight: 449.99;
}

.menu__navigation {
    width: 308px;
    background: #fff;
    position: absolute;
    top: 166px;
    display: none;
    z-index: 3;
}

.header__bottom__menu-item:hover  .menu__navigation {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
}

.navBlock {
    display: flex;
    flex-direction: column;
}

.navBlock-item {
    display: block;
    height: 44px;
    padding: 11px 0 11px 19px;
    color: #373737;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.76px;
}

.navBlock li {
    border-bottom: 1px solid #dfdfdf;
}

.navBlock li:last-child {
    border-bottom: none;
}

.navBlock-item:hover {
    background: var(--color-blue005);
    color: #fff;    
}

#toggle {
    left: -60px;
    top: 5px;
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

#toggle.active {
    background: none;
}

#toggle::before {
    display: none;
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #005f91;
    transition: .2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #005f91;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}

#toggle::after {
    display: none;
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #005f91;
    transition: .2s;
    transform: translateY(10px);
}

#toggle.active::after {
    background-color: none;
    transform: translateY(0px) rotate(-45deg);
}

body.fixed {
    overflow: hidden;
    height: 120vh;
}

.toggleMenu {
    height: 909px;
    max-height: 909px;
    width: 398px;
    position: absolute;
    top: 105px;
    right: 0;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    display: none;
}

.toggleMenu.active {
    display: flex;
}

.toggleNav {
    max-height: 753px;
    overflow: hidden;
    list-style: none; 
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
}


.toggleNav-itemTitle {
    display: block;
    height: 69px;
    width: 398px;
    color: #000;
    font-size: 15px;
    line-height: 20.1px;
    font-weight: 400;
    border-bottom: 1px solid #d1d1d1;
    padding: 25px 0px 24px 69px;
    background-image: url(/assets/images/img/Header_etc/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 321px; 
    cursor: pointer;
}

.toggleNav-item.activeinfo .toggleNav-itemTitle {
    background-image: url(/assets/images/img/Header_etc/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 321px;
    transition: .1s; 
}

.toggleNav-itemTitle:hover {
    background-color: rgba(126, 126, 126, 0.12);
}

.toggleNav-content ul li {
    display:block;
    color: #000;
    font-size: 15px;
    line-height: 20.1px;
    font-weight: 400;
    position: relative;
    height: 0;
    overflow:hidden;
    transition: .5s;
    background-color:rgba(126, 126, 126, 0.12);
    cursor: pointer;
}

.toggleNav-item.activeinfo .toggleNav-content ul li {
    height: 69px;
    padding: 25px 0px 24px 69px;
    border-bottom: 1px solid #d1d1d1;
}

.toggleNav-item.activeinfo .toggleNav-itemTitle {
    background-color: #fff;
}

.toggleNav-content ul li:hover {
    background-color: rgba(126, 126, 126, 0.12);
}

.toggleNav__bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.toggleNav__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 83px;
}

.toggleNav__social .fa-facebook {
    font-size: 26px;
    color: #e3e3e3;
}

.toggleNav__social .fa-instagram {
    font-size: 25px;
    color: #e3e3e3;
}

.toggleNav__social .fa-instagram:hover,
.toggleNav__social .fa-facebook:hover {
    color: var(--color-blue005);
    transition-duration: .1s;
}

.toggleNav__languages {
    margin: 37px 0 17px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toggleNav__languages a {
    width: 199.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    line-height: 20.1px;
    font-weight: 400;
}

.toggleNav__languages a:first-child {
    border-right: 1px solid #5d778e;
}


@media screen and (max-width: 1024px) {
    /*nav*/
    #toggle,
    #toggle::before,
    #toggle::after {display: flex ;cursor: pointer;}
    hr{display: none;}
    header {box-shadow: none; height: 105px;}
    .toggleMenu {opacity: 1;}
    /* */
    .headertop__wrap { width: 930px; }
    .wrap {width: 918px; }
    .header__lang { display: none ;}
    .menu-item__text {font-size: 12px; line-height: 16.08px;}
    .search__box {left: 0;}
    .headertop__input { padding: 13px 172px 14px 22px; width: 328px;}
    .header__social {display: none;}
    .header__container-top {justify-content: space-between; border-bottom: 0;}
    .header__lang {display: none;}
    .headertop__btn {font-size: 15px; line-height: 20.1px; padding: 19.44px 42.33px 18.44px 40.69px; display: none;}
    .header__bottom__menu-item:hover:nth-child(7) .menu__navigation,.header__bottom__menu-item:hover:nth-child(8) .menu__navigation,.header__bottom__menu-item:hover:nth-child(9) .menu__navigation { position: absolute; right: 0;} 
    .header__container__bottom {display: none;}
}

@media screen and (max-width: 768px) {
    .menu__btn {display: block;}
    .headertop__btn, .header__lang, .search__box {display: none;}
    .header__top-logo {position: relative; left: 65px;}
    .header__container-top {justify-content:space-between;border-bottom: 0;}
    .wrap {width: 768px;}
    .headertop__wrap { width: 768px; }
}