:root {
    --color-blue: #005f91;
    --color-lightBlack: #1A1A1A;
    --color-gray: #373737;
    --color-darkWhite: #FBFBFB;
    --color-lightGray: #D2D2D2;

    --color-gray8a: #8A8A8A;
    --color-blue025: #025784;
    --color-blueRgba: rgba(2, 87, 132, 0.77);
    --color-blue035: #035F8E;
    --color-grayE1: #E1E1E1;
    --color-grayE4: #E4E4E4;
    --color-grayA4: #A4A4A4;
    --color-black29: #292929;
    --color-grayD7: #D7D7D7;
}