* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Neris';
    background: #FBFBFB;
}

ul, ol {
    list-style: none;
}

.wrap {
    width: 1220px;
    margin: 0 auto; 
}

.headertop__wrap {
    width: 1282px;
    margin: 0 auto;
} 

/*Используем только в оп хедере и футер топе*/