* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Neris';
    background: var(--color-darkWhite);
}

ul, ol {
    list-style: none;
}

.wrap {
    width: 1220px;
    margin: 0 auto; 
}

.headertop__wrap {
    width: 1282px;
    margin: 0 auto;
} 

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0px 5px; 
}

@media screen and (max-width: 1024px) {
    .container {
        width: 940px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 678px;
    }
}

/*Используем только в оп хедере и футер топе*/

/*Neris font*/
@font-face {
    font-family: 'Neris';
    src: url(/assets/neris/Neris-Black.otf);
}
@font-face {
    font-family: 'Neris';
    src: url(/assets/neris/Neris-Light.otf);
    font-weight:lighter;
}
@font-face {
    font-family: 'Neris';
    src: url(/assets/neris/Neris-SemiBold.otf);
    font-weight: 600;
}


/*Helvetica font*/

@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_regular.otf);
}
@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_oblique.otf);
    font-style: italic, oblique;
}
@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_lightoblique.otf);
    font-style: italic, oblique;
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_light.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_boldoblique.otf);
    font-style: italic, oblique;
    font-weight: bold;
}
@font-face {
    font-family: 'Helvetica';
    src: url(/assets/Helvetica/helvetica_bold.otf);
    font-weight: bold;
}
