.PageFaculty {
    width: 100%;
    background-color: #fbfbfb;
    display: block;
}

.PageFaculty__info {
    width: 780px;
    display: flex;
    padding-top: 65px;
    justify-content: space-between;
    align-items: center;
}

.PageFaculty__info-logo {
    background: #e1e1e1;
    width: 252px;
    height: 185px;
}

.PageFaculty__info-logo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.44px;
    color: #000;
    text-align: center;
    padding-top: 82px;
}

.info__details-name {
    display: flex;
    flex-direction: column;
}

.info__details-name span {
    font-weight: 300;
    font-size: 14px;
    line-height: 18.76px;
    color: #1a1a1a;
}

.info__details-name h1 {
    font-size: 30px;
    line-height: 40.2px;
    color: #373737;
}

.info__details-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    font-size: 14px;
    line-height: 18.76px;
    color: #1a1a1a;
    font-weight: 300;
}

.info__details-contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__details-contacts a {
    color: #1a1a1a;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.44px;
}

.faculty__social {
    display: flex;
}

.faculty__social a {
    color: #a6a6a6;
    font-size: 21px;    
}

.faculty__social .fa-facebook {
    margin-right: 15.62px;
}

.faculty__social a:hover {
    color: #005f91;
    transition-duration: .1s;
}

/*Main block of the page*/

.PageFaculty__menu {
    display: flex;
    margin-top: 105px;
}

.PageFaculty__nav {
    display: flex;
    flex-direction: column;
}

.PageFaculty__nav-item {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.44px;
    border-bottom: 1px solid #d0d0d0;
    width: 301px;
    padding: 25px 0 24px 37px;
}

.PageFaculty__nav-item:last-child {
    border-bottom: none ;
}

.PageFaculty__nav-item:hover {
    color: #fff;
    background-color: #005f91;
}

.PageFaculty__detailsnav-info {
    width: 968px;
    height: 251px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 34px 62px 0 62px;
    padding-top: 34px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.PageFaculty__detailsnav-info h1 {
    font-size: 22px;
    line-height: 29.48px;
    color: #000;
}

.PageFaculty__detailsDegrees {
    margin-top:  52px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.PageFaculty__detailsDegrees-item {
    width: 254px;
    border: 2px solid #d9d9d9;
    text-align: center;
    padding: 24px 0px 25px 0px;
    color: #000;
}

.PageFaculty__detailsDegrees-item:hover {
    background-color: #005f91;
    border: 2px solid #005f91;
    color: #fff;
    transition-delay: .05s ;
    transition-duration: .1s;
}
