.PageFaculty {
    width: 100%;
    background-color: #fbfbfb;
    display: block;
}

.PageFaculty__info {
    width: 780px;
    display: flex;
    padding-top: 65px;
    justify-content: space-between;
    align-items: center;
}

.PageFaculty__info-logo {
    background: var(--color-grayE1);
    width: 252px;
    height: 185px;
}

.PageFaculty__info-logo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.44px;
    color: #000;
    text-align: center;
    padding-top: 82px;
}

.info__details-name {
    display: flex;
    flex-direction: column;
}

.info__details-name span {
    font-weight: 300;
    font-size: 14px;
    line-height: 18.76px;
    color: var(--color-black1a);
}

.info__details-name h1 {
    font-size: 30px;
    line-height: 40.2px;
    color: var(--color-gray37);
}

.info__details-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    font-size: 14px;
    line-height: 18.76px;
    color: var(--color-black1a);
    font-weight: 300;
}

.info__details-contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__details-contacts a {
    color: var(--color-black1a);
    font-weight: 700;
    font-size: 16px;
    line-height: 21.44px;
}

.faculty__social {
    display: flex;
}

.faculty__social a {
    color: #a6a6a6;
    font-size: 21px;    
}

.faculty__social .fa-facebook {
    margin-right: 15.62px;
}

.faculty__social a:hover {
    color: var(--color-blue005);
    transition-duration: .1s;
}

/*Main block of the page*/

.PageFaculty__menu {
    display: flex;
    margin: 105px 0 182px 0;
}

.PageFaculty__nav {
    display: flex;
    flex-direction: column;
}

.PageFaculty__nav-item {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.44px;
    border-bottom: 1px solid #d0d0d0;
    width: 301px;
    padding: 25px 0 24px 37px;
}

.PageFaculty__nav-item:last-child {
    border-bottom: none ;
}

.PageFaculty__nav-item:hover {
    color: #fff;
    background-color: var(--color-blue005);
}

.PageFaculty__detailsnav-info {
    width: 968px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 43px 0 54px 58px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.PageFaculty__detailsnav-infoTitle {
    font-size: 22px;
    line-height: 29.48px;
    color: #000;
}

.PageFaculty__detailsInternational {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.PageFaculty__detailsInternational-textblock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-black1a);
    line-height: 18.76px;
    font-size: 14px;
    padding-right: 25px ;
}

.PageFaculty__detailsInternational-photoItem {
    margin-top: 12px;
    display: inline-block;
    background-color: var(--color-grayE1);
    padding: 98px 74px 119px 74px;
    width: 187px;
}

.PageFaculty__detailsInternational-partners {
    color: var(--color-black1a);
    font-size: 14px;
    line-height: 18.76px;
    margin-top: 26px;
}

.PageFaculty__detailsInternational a {
    color: var(--color-blue005);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .PageFaculty__detailsnav-info {width: 640px;}

}