.instituteBlock {
    display: block;
    height: 1013px;
    width: 100%;
    background-color: #fff;
}

.instituteBlock-topitem {
    font-weight: 700;
    font-size: 25px;
    line-height: 33.5px;
    color: #1a1a1a;
    text-align: center;
    margin-top: 55px;
}

