.specialties {
    padding: 56px 0px 107px;
}

.specialties__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialties__search-block {
    border: 1px solid var(--color-lightGray);

    display: flex;
    align-items: center;
    padding: 13px 22px;
    margin: 42px auto 74px;
    width: fit-content;
}

.specialties__search-block input[type=text] {
    background: transparent;
    border: none;

    margin-right: 14px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.specialties__search-block input[type=text]:focus {
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.specialties__search-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.specialties__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.specialties__body-block {
    background: #FFFFFF;
    border: 1px solid var(--color-lightGray);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);

    display: flex;
    flex-direction: column;
    padding: 25px 34px 28px 27px;
    width: 390px;
}

.specialties__body-number {
    color: var(--color-blue);
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
}

.specialties__body-title {
    font-family: 'Neris';
    font-style: normal;
    color: var(--color-blue);
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin: 27px auto 30px;
}

.specialties__body-item {
    border-bottom: 1px solid var(--color-lightGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    margin-top: 20px;
}

.specialties__body-item:last-child {
    border: none;
    padding-bottom: 0px;
}

.specialties__body-subtitle {
    color: var(--color-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    max-width: 224px;
}

.specialties__body-loans {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}


@media screen and (max-width: 1024px) {
    .specialties {
        padding: 78px 0px 110px;
    }

    .specialties__search-icon {
        display: flex;
        align-items: center;
        width: 14px;
        height: 14px;
    }

    .specialties__body {
        gap: 40px;
    }

    .specialties__body-block {
        padding: 25px 33px 23px;
    }

    .specialties__body-number {
        font-size: 26px;
        line-height: 35px;
    }

    .specialties__body-item:nth-child(1) {
        margin-top: 0px;
    }

    .specialties__body-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin: 30px auto 22px;
    }

    .specialties__body-item {
        padding-bottom: 24px;
    }

    .specialties__body-loans {
        font-size: 18px;
        line-height: 24px;
    }
}