.specialties {
    padding: 56px 0px 107px;
}
.specialties__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.specialties__search-block {
    display: flex;
    align-items: center;
    padding: 13px 22px;
    border: 1px solid #A4A4A4;
    margin: 42px auto 74px;
    width: fit-content;
}

.specialties__search-block input[type=text] {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-right: 14px;
}

.specialties__search-block input[type=text]:focus {
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
}

.specialties__search-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.specialties__search-icon:hover img{
    width: 20px;
    height: 20px;
}

.specialties__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.specialties__body-block {
    display: flex;
    flex-direction: column;
    padding: 25px 34px 28px 27px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
    width: 390px;
}

.specialties__body-number {
    color: #035F8E;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
}

.specialties__body-title {
    font-family: 'Neris';
    font-style: normal;
    color: #035F8E;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin: 27px auto 30px;
}

.specialties__body-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 20px;
}

.specialties__body-subtitle {
    font-family: 'Neris';
    font-style: normal;
    color: #233739;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    max-width: 224px;
}

.specialties__body-loans {
    font-family: 'Neris';
    font-style: normal;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}